<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Telegram File Bot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <h1>Telegram File Bot</h1>

    <h2>Configuration</h2>
    <form action="/update_config" method="post">
        {% for section in config.sections() %}
            <h3>{{ section }}</h3>
            {% for key, value in config[section].items() %}
                <label for="{{ key }}">{{ key }}:</label>
                {% if key == 'disable_logs' %}
                    <input type="checkbox" id="{{ key }}" name="{{ key }}" value="True" {% if value == 'True' %}checked{% endif %}>
                {% else %}
                    <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}">
                {% endif %}
                <br>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Update Configuration">
    </form>

    <h2>Sent Files</h2>
    <div id="file-list">
        <!-- Sent files will be displayed here -->
    </div>
    <button id="load-more" style="display: none;">Load More</button>
    <div class="loading-indicator" id="loading-files">Loading files...</div>

    <h2>Real-time Statistics</h2>
    <div id="statisticsChartContainer">
        <canvas id="statisticsChart"></canvas>
    </div>
    <div class="loading-indicator" id="loading-stats">Updating statistics...</div>

    <h2>API Statistics</h2>
    <div id="apiStatisticsChartContainer">
        <canvas id="apiStatisticsChart"></canvas>
    </div>
    <div class="loading-indicator" id="loading-api-stats">Updating API statistics...</div>

    <h2>Actions</h2>
    <button class="clear-button" id="clear-logs">Clear Logs</button>
    <button class="clear-button" id="clear-json-data">Clear JSON Data</button>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>